{{- $id := .Get 0 -}}
{{- if strings.Contains $id "list=" -}}
  {{- $id = index (split $id "list=") 1 -}}
  {{- $id = index (split $id "&") 0 -}}
{{- else if strings.Contains $id "youtube.com" -}}
  {{- with urls.Parse $id -}}
    {{- with .Query.Get "list" -}}
      {{- $id = . -}}
    {{- end -}}
  {{- end -}}
{{- end -}}
<div class="youtube-embed" style="position: relative; padding-bottom: 56.25%; height: 0; overflow: hidden;">
  <iframe
    style="position: absolute; top: 0; left: 0; width: 100%; height: 100%; border: 0;"
    src="https://www.youtube.com/embed/videoseries?list={{ $id }}"
    title="{{ with .Get 1 }}{{ . }}{{ else }}YouTube playlist{{ end }}"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share; fullscreen"
    referrerpolicy="strict-origin-when-cross-origin"
    loading="lazy"
    allowfullscreen>
  </iframe>
</div>
